@font-face {
    font-family: customFonts;
    src: url(Roboto_Slab/static/RobotoSlab-SemiBold.ttf);
}
@font-face{
    font-family: Allura;
    src:url(Roboto_Slab/Allura-Regular.ttf);
}
*{
    overflow-x: hidden;
   
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}
:root{
    --main-bg-color: cornflowerblue;
    --secondary-bg-color:whitesmokesmoke;
  }
#brand h2{
    font-family:Allura;
    color:var(--secondary-bg-color);
}

#brand h2:hover{
    color:var(--main-bg-color);
}
#Home{
    height:750px;
    background-color:rgb(100,149,237);
}



#home li a{
    color: var(--secondary-bg-color);
}

.custom-toggler.navbar-toggler {
    border-color: var(--secondary-bg-color);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#header h4,h1,h3,h2,h5,h6{ 
    position: relative;
}
   
.about {
    text-align: start;
    animation: left-right 1.5s ease-in-out;
    margin-top:150px;
    margin-left:600px;
 
}
.about h1{
    margin-left:60px;
}


@keyframes left-right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  

.information h1{
 
animation: left-right 1.5s ease-in-out;
color: black;
/* font-family: "Shippori Mincho", serif; */
font-size: 33px;
font-weight: 300;
width:65%;
letter-spacing: -2px;
}
/* .information h2{
margin-left: 100px; 
animation: left-right 1.5s ease-in-out;
color: black;

} */
.information h3{
margin-left: 500px;
animation: left-right 1.5s ease-in-out;
color: black;
width:65%;
font-size: 33px;
font-weight: 300;
}
#lastone{
 margin-left: 600px;
}

.about #hello {
    position: relative;
    color:rgb(2, 59, 144);
    font-size: 50px;
    font-weight:600;
    overflow: hidden;
}
.about .first_one{
    font-family:customFonts;
    font-size:10px; 
    /* font-weight: 300; */
}

.second_one:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:var(--main-bg-color);
    border-left: 2px solid blue;
    animation: animate 4s steps(12) infinite;
  }
  
  @keyframes animate{
    40%, 60%{
      left:100%;
    }
    100%{
      left:0%;
    }
  }

/* .information button{
    margin-left:200px; 
    width: 100px;
    animation: left-right 1.5s ease-in-out;  
} */
/* .image{
    background-color: var(--secondary-bg-color);

}
.image img{
    width:80%;
    height:600px;
    position: relative;
   
}
.contain{
    display: flex;
    width:25%;
    height:50%;
    border-radius: 50%;
    background-color:rgb(59,105,202);
    position:absolute;
    margin-left:0px;
    margin-top: 20px; 
}
.contain1{
    display: flex;
    width:20%;
    height:40%;
    border-radius: 50%;
    background-color:rgb(59,105,202);
    position:absolute;
    
    margin-left:230px;
    margin-top: 330px;
    
}
.image img:hover{
    filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 10));
} */

.connect1{
    margin:30px 0px 0px 630px;
   
 
 }
 .connect1 a{
 color:rgb(0, 0, 0);
}
 .connect1 i{
    margin: 10px;
    font-size:25px;
    text-decoration: none;
 }
 .connect1 i:hover{
    color:whitesmoke;
    /* border: 2px solid rgb(0, 0, 0); */
    filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 10));
    
 }
 .text-start a{
  width:150px;
  background-color: transparent;
  color: black;
  margin-left:670px;
  margin-top:20px;
  border-color: rgb(29, 29, 29);
 
 }
.text-start .down{
    animation: visit 2s ease infinite;
}
 @keyframes visit {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
    
}
.resume{
    background-color:whitesmoke;
    
}
.resume:hover{
    border-color: black;
    background-color:var(--main-bg-color);
    filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 10));
     
}
#Download:hover{
    color:whitesmoke ;
    filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 10));
}
.resume a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    display: grid;
    margin: auto;
}

.bg_image{
    background-image: url(photos/about\ pg.jpg);
    width:auto;
    height:auto;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.About_section{
    width: 1200px;
    height:auto;
    background-color: aliceblue;
   /* display: flex; */
   margin:100px 0px 100px 0px;

}
.About_section h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 400;
    color: var(--main-bg-color);
    margin-top: 50px;
}
.about_details{
    display: flex;
}
.about_details img{
    width:250px;
    height:auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
   
} 

 .About_section p{
    font-size: 25px;
   font-family:  "shippori mincho",serif;
   font-weight: 400;
   line-height: 1.3;
   max-width:900px;
   min-width:200px;
  margin-left: auto;
  margin-right: auto;

 } 
.About_section button{
  margin-left: 43%;
  background-color: var(--main-bg-color);
  margin-bottom: 50px;
  width: 130px;

}
.section_2{
    width: 100%;
    background-color: var(--main-bg-color);
    color: black;
   


}
.section_2 h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 400;
    color: var(--secondary-bg-color);
    margin-top: 50px;

}

.makeflex{
    display: flex;
}
.Education{
    height:auto;
    display: flex;
    margin-left: auto;

}
.ed-sk{
    color: var(--secondary-bg-color);
}
.years{
    margin-right: 10px;
    margin-left: 20px;
}
.year1{
    margin-top: 10px;
}
.year{
    margin-top:130px
}
.year2{
   margin-top:134px;
}

.dot:first-child{
    top: 13px;
}

.dot{
    display: flex;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color:black;
    position: relative;
}

.dot1{
    display: flex;
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color:black;
    position: relative;
    /* margin-top:10px; */
}
.line0{
    display:flex;
    width:3px;
    height:154px;
    background-color:black;
    margin-left:3px;
    position: relative;
    top:13px;
    
}
.line1{
    display:flex;
    width:3px;
    height:143px;
    background-color:black;
    margin-left:3px;
    position: relative;
    
}
.line2{
    display:flex;
    width:3px;
    height:50px;
    background-color:black;
    margin-left:3px;
    position: relative;
    
}
@media  screen and (max-width:520px)  {
  .line0{
    height: 172px;
  }
      
       
    }
.Education_data{
    margin-left: 30px;
 

}

.sks{
    width: 100%;
    max-width:500px;
    padding:0 20px;
    margin: 0 auto;
}


.pro{
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 500;
    color: var(--main-bg-color);
    margin-top: 50px;
    font-family: "Shippori Mincho", serif;


}
    
 .section_4n{
    font-family: 'Courier New', Courier, monospace;
    width:auto;
    height:auto; 
    background-color: var(--secondary-bg-color);
    color: black;
  
    
 }
 .project{
  display: flex;
  justify-content: space-between;
  background-color:var(--secondary-bg-color);
  

 }

 .about_project{
    margin: auto;
 }
 
 .into{
    background-color: var(--main-bg-color);
    margin-bottom: 20px;
 }
 .into:hover{
    background-color: whitesmokesmoke;
    color: var(--secondary-bg-color);
    border-color:black ;
    filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 10));
    

 }
 .git{
  max-width: 100%;
   height:auto;
   margin-top:30px;
   margin-bottom:20px; 
 
 }

 .git img{
    width:390px;
    height:auto;
   border-radius:10px; 

 }
 .links{
    position: absolute;
    z-index: 2;
    margin: 110px 0px  0px 120px;
    display: none;

 }
 .git img:hover{
    filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 10));

 }
 .git:hover .links{
    display: block;
 }
 
 .Certification{
    background-image: url(photos/about\ pg.jpg);
    width:auto;
    height:auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
 }
.Certificates{
    /* max-width: fit-content; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom:100px;
    
    
}
.about_duration{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.accordion-body .getting_cer img{
    width: 800px;
    align-items: center;
}
/* .about_duration h6{
    /* align-self: flex-end; 
} */
 .section_5 {
    width: 100%;
    height:auto; 
    background-color:var(--main-bg-color);
    color:rgb(0, 0, 0);
    margin: 0 auto;
    
   
 }
 .section_5 h1{
    font-family: "Shippori Mincho", serif;
    font-weight:400;
 }
  .count{
    margin-left: auto;
    margin-right: auto;
 }
 .contact{
    padding-top: 100px;
   font-family: "Shippori Mincho", serif;

 }
 .connect{
    margin:50px 0px 0px 22px;
   
 
 }
 .connect a{
 color:rgb(0, 0, 0);
}
 .connect i{
    margin: 10px;
    font-size:25px;
    text-decoration: none;
 }
 .connect i:hover{
    color:whitesmoke;
    /* border: 2px solid rgb(0, 0, 0); */
    filter: drop-shadow(5px 5px 2px rgb(0 0 0 / 10));
    
 }
 .line{
    width:200px;
    height:5px;
    border-radius:4px;
    background-color:black;
    margin-left: 50px;

 }

 .section_5 #count2{
    margin-top: 100px;
    /* display:inline-block;
    text-align: start; */
 }
 #count2 input,textarea,button{
    border-radius:5px;
    display:flex;
    

 }

#count2 button{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  

  #count2 button:hover {
    background-color: #000000; 
    color: whitesmoke;
  }
  
 
  #count2 button:active {
    transform: translateY(2px);
  }
 
  #count2 button .bi {
    font-size: 20px;
    margin-left: 10px;
  }

.icons li{
    list-style: none;
    margin: 20px 0px;
}
.icon{
   font-size:25px;
}
.scroller{
    background-color: var(--main-bg-color);
    height:45px;
    width: 45px;
    right: 35px;
    position: fixed;
    border-radius: 50%;
    bottom: 18px;
    text-align: center;
    font-size: 20px;
   
  
    animation: bounce 2s ease infinite;
   
}
.scroller:hover{
    border: 2px solid whitesmoke;
    box-shadow: 0 0 10px 3px rgb(255, 255, 255);
}

  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
      40% {transform: translateY(-30px);}
      60% {transform: translateY(-15px);}
      
  }

/* *::-webkit-scrollbar{
    /* width: 0; 
    background:transparent;
} */
.markee{
    display: none;
}
@media  screen and (max-width:1350px) {
    .about{
     margin-left:470px;
    }
    .information h3{
        margin-left:370px;
    }
    #lastone{
        margin-left: 450px;
    }
    .connect1{
        margin-left: 500px;
    }
    .text-start a{
        margin-top:30px;
        margin-left: 550px;
    }
}

@media  screen and (max-width:1200px) {
    .contain{
        display: none;
    }
    .contain1{
        display: none;
    }
    /* .image img{
        margin-bottom:20px;
    } */
     .markee{
        display:block;
     }
}
@media  screen and (max-width:990px) {
    .about{
     margin-left:340px;
    }
    .information h3{
        margin-left:240px;
    }
    #lastone{
        margin-left: 320px;
    }
    .connect1{
        margin-left: 370px;
    }
    .text-start a{
        margin-top:20px;
        margin-left: 420px;
    }
}
@media  screen and (max-width:800px)  {
    .about{
        margin-left:0px;
       }
       .about h1{
        margin-left: 70px;
       }
       .about #hello{
        margin-left: 20px;
       }
       .information h3{
           margin-left:70px;
           /* text-wrap: nowrap; */
       }
       #lastone{
           margin-left:70px;
       }
       .connect1{
           margin-left:90px;
       }
       .text-start a{
           margin-top:20px;
           margin-left:100px;
       }
    .contain{
        display: none;
    }
    /* .image img{
      display: none;
    } */
    .markee{
        display: block;
    }
    .accordion-body .getting_cer img{
        width:500px;
    }
     
}
@media  screen and (max-width:520px)  {
    .contain{
      display: none;
      
       
    }
    .image img{
        display: none;
    }
    .markee{
        display: block;
    
    }
    .about{
        margin-top: 100px;
    }
    .about #hello{
        font-size: 40px;
        font-weight:300;
    }
    .connect1{
        margin-left:70px;
    }

    .accordion-body .getting_cer img{
        width: 320px;
    }

}
@media  screen and (max-width:410px)  {
    .about{
        text-align: center;
        /* margin: 0; */
    }
    .about h1{
        /* margin-top: 100px; */
        margin-left:50px;
    }
    .about #hello{
        font-size: 40px;
        font-weight:300;
        margin-top:50px;
        margin-left:10px;
    }
    .about h3{
        margin-left: 50px;
    }
  .connect1{
    margin-left: 50px;
  }
 .About_section  button{
    /* margin-left:120px; */
  }
  .accordion-body .getting_cer img{
    width: 320px;
}
}
